<h1>Prova Prática 01</h1>

<input type="number" name="moeda1" [(ngModel)]="moeda1">

<select #classe [(ngModel)]="controle" (change)="execute(controle)">

  <option value="brlad">Real -> Dolar Americano</option>
  <option value="brlcd">Real -> Dolar Canadense</option>

  <option value="adcd">Dolar Americano -> Dolar Canadense</option>
  <option value="adbrl">Dolar Americano -> Real</option>

  <option value="cdad">Dolar Canadense -> Dolar Americano</option>
  <option value="cdbrl">Dolar Canadense -> Real</option>

</select>

Taxa de cambio<input type="number" name="moeda3" [(ngModel)]="moeda3">


<button (click)="execute(controle)">Converter</button>

<input type="number" name="moeda2" [(ngModel)]="moeda2" readonly>
